body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.page-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
}

.orb-options {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.orb-options .orb-part {
    margin: auto;
}

/* Where the Orb is generated */
.orb-container {
    position: relative;
    width: 400px;
    height: 400px;
    border: 2px solid #111111;
    border-radius: 6px;
}

/* Layer styles */
.body-layer, .eyes-layer, .mouth-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Layer order */
.body-layer { z-index: 1; }
.eyes-layer { z-index: 2; }
.mouth-layer { z-index: 3; }

.battle-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=submit] {
    margin-top: 15px;
    padding: 10px;
}

/* ####################### */
/* For battle of the Orbs */
.battle {
    display: flex;
    flex-direction: row;
}

.battle-actions {
    display:flex;
    flex-direction: column;
    margin: 15px;
}

.attack-button {
    padding: 50px 100px 50px 100px;
}

.reset-button {
    margin-top: 15px;
    padding: 10px;
}

/* User Orb */
.user-orb-container {
    display: flex;
    flex-direction: Column;
    margin-right: 120px;
}

.user-orb-container .orb-container {
    border: none;
}

/* Foe Orb */
.foe-orb-container {
    display: flex;
    flex-direction: column;
}

.foe-orb-container .orb-container{
    border: none;
}

.foe-orb {
    transform: scaleX(-1)
}

/* Universal */
.orb-stats {
    display: flex;
    flex-direction: row;
}

.orb-stats .orb-stat {
    margin: auto;
}